# Data Science Tools and Ecosystem

In this notebook, We will discuss about various Data Science Tools and their Ecosystems.

**Objectives**
* Poular languages used in Data Science
* Libraries use in Data Science
* Data Science tools

In todays world, some of the most popular languages that a Data Scientist use are,
1. Pyhton
1. R
1. SQL
1. Julia

Some of the commonly used libraries used by Data Scientists include:
1. TensorFlow
1. PyTorch
1. Keras
1. Pandas

|Data Science tools|
|----|
|Hadoop|
|Knime|
|Weka|

### Below are a few examples of evaluating arithmetic expressions in Python,
1+3 

2-7

This a simple arithmetic expression to mutiply then add integers,

In [2]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60,

In [4]:
x=60
200/x

3.3333333333333335

## Author
Mutasim Mahmud